@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import 'base/variables';

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}



@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/story';
@import 'blocks/history';
@import 'blocks/dishes';
@import 'blocks/menu';
@import 'blocks/review';
@import 'blocks/gallery';
@import 'blocks/cook';
@import 'blocks/dcg';



@import 'blocks/media';