.button {
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 19px;
    background: $bcg-orange;
    transition: background-color 0.3s linear;
    &_menu {
        padding: 14px 28px;
    }
    &_item {
        padding: 14px 67px;
    }
    &:hover {
        background-color: $span-orange;
    }
}