.cook {
    padding: 100px 0px 100px 0px;
    &__title {
        text-align: center;
    }

    &__wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 350px;
        height: 462px;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.10);
        }
    }

    &__icon {
    }
}
