.gallery {
    min-height: 800px;
    padding: 100px 0px 30px 0px;
    &__title {
        text-align: center;
    }

    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        transition: 0.3s all;
        &:hover {
            transform: scale(1.10);
        }
    }

    &__icon {
    }
}
