
.history {

    &__promo {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    }

    &__prwr {
            width: 450px;
    }

	&__promotitle {
        text-align: center;
	}

	&__promodescr {
        margin-top: 21px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #656363;
	}

	&__promowrap {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
	}

	&__promoitem {
	}

	&__promonumber {
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        color: #BC9060;
	}

	&__promotext {
        margin-top: 13px;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #000000;
	}

    &__photo {
        width: 539px;
        height: 498px;
        img {
            width: 100%;
        }
    }
}

