.title {
    span {
        color: $span-orange;
    }
    &_fz80 {
        font-weight: 400;
        font-size: 80px;
        line-height: 92px;
        color: $span-orange;
    }
    &_fz54 {
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #000000;

    }
    &_fz52 {
        font-weight: 400;
        font-size: 52px;
        line-height: 60px;
        color: $span-orange;
        
    }
    &_fz50 {
        font-weight: 400;
        font-size: 50px;
        line-height: 57px;
        color: $span-orange;
    }
}